<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Developed by ~
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="logo-ionic" slot="start"></ion-icon>
        bhaskar.syamal@gmail.com
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" slot="start"></ion-icon>
          https://www.linkedin.com/in/bhaskar-syamal-33244014a
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            <ion-icon name="logo-ionic" slot="start"></ion-icon>
            instagram ~ 100percent_bhaskar
          </ion-label>
        </ion-item>     
  </ion-list>
</ion-content>